<!-- Header -->
<%- include partials/header.ejs %>
<!-- Main Nav -->
<%- include partials/main_nav.ejs %>
<!-- Common Page Content -->
<%- include partials/content.ejs %>

<!-- Page Content -->
<div class='container'>
    <h3>Welcome to my portfolio!</h3>
    <h3>Mission Statement</h3>
    <p>Build programs with a commitment to quality.</p>
    
    <h3>Links</h3>
    <ol>
        <li><a href='/about'>About Me</a></li>
        <li><a href='/projects'>Projects</a></li>
        <li><a href='/services'>Services</a></li>
        <li><a href='/contact'>Contact</a></li>
    </ol>
</div>

<!-- Account for Fixed Bottom -->
<br />
<br />
<br />
<br />
 
<!-- Bottom Nav -->
<%- include partials/bottom_nav.ejs %> 
<!-- Footer -->
<%- include partials/footer.ejs %> 