<!-- Partials -->
<%- include partials/header.ejs %> <%- include partials/main_nav.ejs %> <%-
include partials/content.ejs %>

<!-- Page Content -->
<div class="container">
  <img src="/Assets/images/face.jpg" />
  <p>
    A goal-oriented, passionate individual. I am currently a student in the
    Software Engineering Technology program with a specialization in Game
    Programming at Centennial College. I am of Asian descent, but I was born
    while my parents were on a road trip in the United States. I grew up here in
    Canada. My interests include video games, food, and weightlifting.
  </p>
  <p>
    You can find my resume here:
    <a href="/Assets/documents/marcusngooiresume.pdf">Marcus Ngooi</a>
  </p>
</div>

<!-- Account for Fixed Bottom -->
<br />
<br />
<br />
<br />

<!-- Partials -->
<%- include partials/bottom_nav.ejs %> <%- include partials/footer.ejs %>
