<!-- Header -->
<%- include partials/header.ejs %>
<!-- Main Nav -->
<%- include partials/main_nav.ejs %>
<!-- Common Page Content -->
<%- include partials/content.ejs %>

<!-- Page Content -->
<!-- Using bootstrap card component to list projects-->
<div class='container'>
  <div class="card" style="width: 36rem;">
      <img src="/Assets/images/detechtivenoirfront.png" class="card-img-top" alt="Main Menu of Detechtive Noir game">
      <div class="card-body">
        <h5 class="card-title">DeTechtive Noir</h5>
        <p class="card-text">DeTechtive Noir is a 2D top-down mystery game. Search the room for clues and solve the mystery.</p>
        <p class="card-text">Role: Programming and Unity Implementation</p>
        <p class="card-text">Outcome:
          <ol>
            <li>Conceptualized game mechanics, theme and story in coordination with team members.</li>
            <li>Programmed character movement, item interaction, and inventory system in Unity using C#.</li>
            <li>Designed the layour of the level in Unity.</li>
          </ol>
        </p>
      </div>
  </div>
  <br />
  <div class="card" style="width: 36rem;">
    <img src="/Assets/images/pongplus.png" class="card-img-top" alt="Pong Plus">
    <div class="card-body">
      <h5 class="card-title">Pong Plus</h5>
      <p class="card-text">Pong Plus is an altered version of the original game, Pong. It introduces moving obstacles and power ups.</p>
      <p class="card-text">Role: Programming and Unity Implementation</p>
      <p class="card-text">Outcome:
        <ol>
          <li>Designed anc coded collision, paddle and ball movement, obstacle movement, and power ups in Unity using C#.</li>
        </ol>
      </p>
    </div>
  </div>
  <br />
    <div class="card" style="width: 36rem;">
      <img src="/Assets/images/originsfall.png" class="card-img-top" alt="Origin's Fall">
      <div class="card-body">
        <h5 class="card-title">Origin's Fall (Work-in-Progress)</h5>
        <p class="card-text">In Origin's Fall, you play as Subject 84 and must escape from captivity. Dodge obstacles and kill enemies as you freefall through the Veil's sky fortress.</p>
        <p class="card-text">Role: Project management, programming, and level design</p>
        <p class="card-text">Outcome (so far):
          <ol>
            <li>Designed and created level 1.</li>
            <li>Managed deadlines, tasks, and team member accountability.</li>
          </ol>
        </p>
      </div>
    </div>


<!-- Account for Fixed Bottom -->
<br />
<br />
<br />
<br />

<!-- Bottom Nav -->
<%- include partials/bottom_nav.ejs %> 
<!--Footer -->
<%- include partials/footer.ejs %> 